/*Global*/
*{background-color:lightgrey; 
    font-family:Arial,sans-serif;
    padding: 0px;
    margin: 0px;
     }
     
     /*App Bar*/
     h2{background-color:#AA00FF;color:white;}

     /*Channel List*/
     ul{list-style-type:none; background-color:#FFFFFF;}
     img{background-color: inherit;}
     ul strong{background-color:inherit;}
     #select{border-left: 4px solid blue; color:blue;}
     li{padding: 16px; height: 16px; box-sizing: content-box; background-color: inherit;}

     /*Tab bar*/
     .button-tab-bar{background-color: white; border: none; font-size: 13px; width: 33%; height: 72px; padding: 16px; margin:0;}
     .image{margin: auto; display: block; padding-bottom: 4px;}
     .selected{border-bottom: 4px solid blue; color: blue; margin-bottom: 0;}

     /*Messages*/
     span{text-transform:uppercase; background-color:inherit;}
     .message{width: 80%; margin-bottom: 8px;}
     h3{font-size:medium; color: black;}
     p{background-color: #FFFFFF; padding: 16px;}
     button{text-transform:uppercase;background-color:#CDDC39;color: black; margin-bottom: 8px;}
     em{font-size:larger;font-style:normal;}
     .my-message, .my-message-button{margin-left: 17.5%;}
     .friends-message, .friends-message-button{margin-left: 2.5%;}
     h1, small{background-color: #AA00FF; color: #FFFFFF;}

       